extends layout

block content
  .container
    h1.main-title= title
    h2.welcome-message Welcome to the Quran App
    
    .navigation-links
      .nav-item
        a.nav-link(href='/surahs') Browse Surahs
      .nav-item
        a.nav-link(href='/juz') Browse Juz
      .nav-item
        a.nav-link(href='/ayah') Browse Ayahs
      .nav-item
        a.nav-link(href='/bookmarks') Your Bookmarks
    
    .search-section
      h3 Search the Quran
      include search

    .about-section
      h3 About This App
      p This Quran application allows you to explore the holy Quran, search for specific verses, and manage your bookmarks. Use the navigation links above to get started, or use the search function to find specific content.