extends layout

block content
  h1= title
  h1 Welcome BOY
  br
  a(href='/quran') Go to Quran API
  br
  a(href='/juz') Go to juz page 
  br
  a(href='/surahs') Go to surahs page 
  br
  a(href='/ayah') Go to ayah page 

